*{
	padding:0;
	margin:0;
}
body{
	font-family: 'Roboto', sans-serif;
}
nav{
	position: relative;
	z-index: 1;
}
.navbar-menu{
	background:#000;
	height: 50px;
	width: 100%;
	position:relative;
}

.logo{
	position:absolute;
	left:5%;
}
.logo a{
	color: white;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 20px;
	padding: 5px 10px;
	position:relative;
	border-radius:3px;
}
.img-logo{
	height:50px;
	width: 50px;
}
.navbar-menu ul{
	float: right;
	margin-right:20px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
}
.nav-options li{
	display: inline-block;
	line-height: 50px;
	margin:0 5px;
}
.nav-options li a{
	color: white;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 20px;
	padding: 5px 10px;
	position:relative;
	border-radius:3px;
}
a:focus, a:hover{
	background-color:#089FEB;
	transition:5s;
}
.checkbtn{
	font-size: 25px;
	float:right;
	color:#FFFFFF;
	line-height: 50px;
	margin-right: 25px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
section{
	width: 100%;
}
.banner{
	height: 97vh;
	position: relative;
	background: url(../img/fondo.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #F5F2F2; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}    
  .contacto-img {
	flex-basis: 100%;
	margin-top: 20px;
  }
  
.contacto-img iframe {
	width: 100%;
	height: auto;
	margin: 10px;
  }
.banner-text {
    max-width: 600px;
    margin: 0 auto;
}
.banner-text h2 {
    font-size: 3rem;
}
.banner-text p {
    font-size: 1.5rem;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-imgx {
    flex-basis: 100%;
    margin-bottom: 2rem;
}

.img-job {
    width: 100%;
    height: auto;
}
/**/  
.banner-text{
	position: absolute;
	color: white;
	top: 37%;
	text-align: left;
	left: 20px;
	right: 20px;
	transform: translateX(0%) translateY(-45%);
}

.banner-text a{
	color:#F5F2F2;
	text-align: center;
	text-decoration: none;
	border: 3px solid #F5F2F2;
	display: inline-block;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.banner-text a:hover{
	background-color: #F5F2F2;
	color:grey;
}
.about, .contacto{
	height: 97vh;
	position: relative;
	background-color: #302D2D;
	color: #F3F2F2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about-content{
	width: 100%;
	hyphens: 100%;
	padding: 30px 0;
	text-align: center;
}
.about-content h2{
	font-size: 45px;
	text-transform: uppercase;
}

.about-content p, .about-content h2 {
	padding: 10px 50px;
}
.about-img{
	width: 100%;
	box-sizing: border-box;
	margin-top: 30px;
	flex: 1;
 	max-width: calc(33.33% - 20px);
  	margin: 10px;
}
.about-imgx{
	width: 33%;
	float: left;
}
.img-job{
	width: 280px;
	height: 280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;

}
.contacto{
	height: 97vh;
	display: block;
	position: relative;
	background: url(../img/llamas.jpeg);
	background-size: cover;
	background-attachment: fixed;
	color: #F5F2F2;
	background-repeat: no-repeat;
}
.staff{
	height: 97vh;
	position: relative;
	background: url(../img/fondocafe.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: rgb(225, 159, 16);
	background-repeat: no-repeat;
}
.staff-content{
	width: 100%;
	height: 100%;
	text-align: center;
}
.staff-content h2{
	font-size: 45px;
	text-transform: uppercase;
	text-align: center;
}
.staff-content p, .staff-content h2{
	padding: 10px 50px;
}
.staff-group{
	width: 100%;
	box-sizing: border-box;
	margin-top: 30px;
	padding: 0px 50px;
}
.info{
	text-align: center;
}
.img-perfil{
	width: 200px;
	height:200px;
	border-radius: 50%;
	border: 3px solid rgb(225, 159, 16);
}
.contacto{
	height: 97vh;
	position:relative;
}
.contacto-content{
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	background: url(../img/llamas.jpeg);

}
.contacto-content h2{
	font-size: 45px;
	text-transform: uppercase;
}
.contacto-content p, .contacto-content h2{
	padding: 10px 50px;
}
.contacto-group{
	width: 100%;
	box-sizing: border-box;
	margin-top: 30px;
	padding: 0px 50px;
	display: flex;
	flex-wrap: wrap;
}
.form-contact{
	width: 50%;
	float: left;
	flex-basis: 100%;
}
.contacto-img{
	width: 50%;
	float: left;
}
.contacto-img img{
	width:85%;
	display: block;
	margin: auto;
}
.form-control{
	width:85%;
	padding:0.8rem;
	margin: 0.6rem 1rem;
	display: block;
	font-size: 1rem;
	outline: 0;
	border-radius: 5px;
	border: 1.5px solid #c7c7c7;
	background: linear-gradient(white, transparent);
}
.send-btn{
	display: block;
	font-size: 1rem;
	text-transform: uppercase;
	background-color: #7b12ae;
	color:#FFFFFF;
	border: none;
	padding: 0.7rem 1.5rem;
	margin: 0.6rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.4s ease;

}
footer{
	position: relative;

}
.footer{
	background: #000000;
	height: 10vh;
	color: #FFFFFF;
}
.social{
	width: 50%;
	float:left;
	margin-top: 20px;
	text-align: center;
}
.social label a{
	color: #FFFFFF;
}
.social label i{
	font-size: 25px;
	padding: 0 10px;
}
.social label i:hover{
	color: #C189BD;
}
.copr{
	width: 50%;
	float: left;
	margin-top:20px;
	text-align: left;
}
.precios{
	display: inline-block;
}
.Reserva{
		background: url(../img/campo1.jpeg);
		justify-self: center;
		background-size: cover;
		background-attachment: fixed;
		width: 100%;
		height: 100%;
}
.clase1, .clase2{

	justify-contet:center;
	position: relative;
	display: inline-grid;
	padding-bottom: 5px;

}
.datosreserva{
	margin-left: 10px;
	padding: 10px;
}
#SeccionReservas, #PreciosCategoria{
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	color: #F5F5F5;
	background: linear-gradient(45deg, black, transparent);
	text-align: center;
}
#datos{
	text-align: center;
	padding: 10px;
}
#tituloForm{
	text-align: center;
	padding-bottom: 10px;
	color: #7b12ae;
}
.labels{
	font-weight: bold;
}
.container{
		font-family: Arial, sans-serif;
		background-color: #f0f0f0;
		max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
		
}
#instalaciones{
	background-color: #333;
 	color: #fff;
    text-align: center;
    padding: 20px;
	font-size: 36px
}
.facility{
	background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
	margin: 10px;
}
.facility img {
	max-width: 50%;
	display:inline-block;
	margin: 10px;
	padding: 10px;
}
#btnreservar{
	font-size: 0.8rem;
	text-transform: uppercase;
	background-color: #7b12ae;
	color:#FFFFFF;
	border: none;
	padding: 0.7rem 1.5rem;
	margin: 0.6rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.4s ease;
}
.form-contro2{
	width:25%;
	padding:0.5rem;
	font-size: 0.8rem;
	border-radius: 5px;
	border: 1.5px solid #7b12ae;
	background: linear-gradient(white, transparent);
}
#ingreso, #egreso, #menores, #mayores{
	width: 15%;
	padding: 0.5rem;
	font-size: 0.8rem;
	border-radius: 5px;
	border: 1.5px solid #7b12ae;
}
#titleInstalacioens{
	display: inline-block;
	text-align: center;
}
#instalaciones{
	text-align: center;
}

@media(max-width: 1024px){
	.logo{
		padding-left: 40px;
	}
	.nav-options li a{
		font-size: 16px;
		padding: 7px 10px;
	}
	.banner{
		height: 89vh;
	}
	.banner-content img{
	width: 100%;
	}
	.about, .staff, .contacto{
		height: 100vh;
	}
	.img-job{
		width: 210px;
		height: 210px;
	}
	.staff-card p{
		font-size: 13px;
	}
	.img-perfil{
		width: 150px;
		height: 150px;
	}
	.form-control{
		width: 75%;
		padding: 0.3rem;
		margin: 0.6rem 1rem;
	}
	.send-btn{
		height: 0.8rempx;
	}
	.footer{
		height: 15vh;
	}
	.social{
		width: 100%;
	}
	.social label i{
		font-size: 25px;
	}
	.copr{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

	.about, .contacto{
		flex-direction: column;
	  }
	.about-imgx {
		max-width: 100%;
	  }
}
@media(max-width: 768px){
	.checkbtn{
		display:block;
	}
	.nav-options{
		position:fixed;
		width:100%;
		height:100vh;
		background:#69B4C8;
		top: 50px;
		left:-100%;
		text-align: center;
		transition: all .5s;
		display: inline-block;
	}
	.nav-options li{
		display: block;
		border-bottom: 1px solid #F4F0F0;
		z-index:1;
	}
	.nav-options li a{
		font-size: 18px;
	}
	nav li:hover{
		background: #EEEAEA;
	}
	nav li a:hover{
		color: #2F2E2E;
	}
	#check:cheked ~ ul{
		left:0;
	}
	.banner{
		height: 55vh;
	}
	.banner-text h2{
		font-size:30px;
	}
	.banner-text p{
		font-size: 14px;
	}
	.banner-text a{
		font-size: 14px;
		width: 60px;
	}
	.about, .banner, .contacto{
		flex-direction: column;
	  }
	.about-imgx , .banner-content{
		max-width: 100%;
	  }
	.about, .staff, .contacto{
		height: 165vh;
	}
	.about-content, .staff-content, .contacto-content{
		font-size: 35px;
	}
	.about-img{
		width: 100%;
		margin-bottom: 20px;
	}
	.staff-card{
		width: 100%;
		margin-bottom: 20px;

	}
	.form-control{
		width: 75%;
		padding: 0.3rem;
		margin: 0.6rem 1rem;
	}
	.send-btn{
		height: 0.8px;
	}
	.form-contact, .contacto-img{
		width: 100%;
		margin-bottom: 20px;
	}
	.form-control{
		width:85%;
		padding:0.8rem;
		margin: 0.6rem 1rem;
		display: block;
		font-size: 1rem;
		outline: 0;
		border-radius: 5px;
		border: 1.5px solid #c7c7c7;
	}
	.send-btn{
		width: 77%;
		height: auto;
		text-align: center;
	}
	.copr p{
		font-size: 14px;
	}
	.Reserva{
		text-align: center;
	}
	.datosreserva{
		text-aling: center;
	}
}

@media(max-width: 640px){
	.about, .banner, .contacto{
		flex-direction: column;
	  }
	.about-imgx {
		max-width: 100%;
	  }
	.about, .staff, .contacto{
		height: 165vh;
	}
	.contacto-content{
		font-size: 18px;
	}
}